* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  position: relative;
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;

  background-position: center center;
  transition: background 0.2s linear;
}

.dark {
  background-image: url(img/nighttime.avif);
  backdrop-filter: brightness(80%);
}

.light {
  background-image: url(img/daytime.avif);
  backdrop-filter: brightness(90%);
}

section {
  color: #fff;
  height: 100%;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

/* weather icons */
.fa-cloud {
  font-size: 30px;
}

.fa-cloud-rain {
  font-size: 30px;
}

.fa-snowflake {
  padding-left: 8px;
  font-size: 30px;
}

div.content {
  height: 60%;
  width: 1000px;
  opacity: 0.8;

  display: flex;
  flex-direction: column;
}

div.weather-div {
  display: flex;
  align-items: center;
}

.description {
  font-size: 2rem;
  padding-left: 8px;
  font-weight: 200;
  padding-right: 8rem;
}

#weather-img {
}

.location {
  padding-left: 6px;
  font-size: 3rem;
  font-weight: 600;
}

.weather-div {
  width: 700px;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.temp-div {
  display: flex;
  align-items: flex-start;
}

.temperature {
  font-size: 9rem;
  font-weight: 700;
}

.span {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.weather-additional {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: -10px;

  width: 200px;
}

form {
  position: absolute;
  top: 3.5%;
  right: 1%;
}

#search {
  background-color: rgba(167, 167, 167, 0.2);
  font-size: 1.2rem;
  color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.418);

  width: 16rem;
  height: 2.4rem;
  border-radius: 6px;
  outline: none;
  caret-color: #fff;
  padding-left: 1.5rem;
}

::placeholder {
  color: #fff;
}

.form-btn {
  width: 36px;
  height: 39px;
  border: 1px solid rgba(128, 128, 128, 0.418);
  position: absolute;
  right: 0rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  background: transparent;
  margin-left: -1000px;
}

.form-btn:hover {
  cursor: pointer;
}

.fa-magnifying-glass {
  color: #fff;
  position: absolute;
  top: 0.75rem;
  right: 0.55rem;
  pointer-events: none;
}

/* Toggle button */
.checkbox {
  opacity: 0;
  position: absolute;
}

.theme-toggle {
  position: absolute;
  top: 4.1%;
  left: 4.5%;
}

.label {
  background-color: transparent;
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
}

.ball {
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50px;
  height: 21px;
  width: 21px;
  background-color: #fff;
  transition: transform 0.2s linear;
}

/* see which element goes after the input */
.checkbox:checked + .label,
.checktemp:checked + .label-temp {
  background-color: transparent;
}

.checkbox:checked + .label .ball,
.checktemp:checked + .label-temp .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* f or c */
.checktemp {
  opacity: 0;
  position: absolute;
}

.temp-toggle {
  position: absolute;
  top: 50%;
}

.label-temp {
  background-color: transparent;
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px 8.5px;
  height: 26px;
  width: 50px;
}

.fa-c,
.fa-f {
  color: #fff;
}

/* Laptops */
@media (max-width: 1050px) {
  .temperature {
    font-size: 7rem;
  }
}

/* Tablets */
/* @media (max-width: 875px) {
  .temperature {
    font-size: 6rem;
  }

  .weather-additional {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: -10px;

    border: 1px solid black;
    width: 200px;
  }
} */

@media (max-width: 700px) {
  .weather-div {
    width: 500px;
  }

  .temperature {
    font-size: 6rem;
  }

  .weather-additional {
    width: 200px;
  }
}

@media (max-width: 515px) {
  .weather-div {
    width: 425px;
  }
}

@media (max-width: 440px) {
  .weather-div {
    width: 350px;
    gap: 3rem;
  }

  .temperature {
    font-size: 5rem;
  }

  .weather-additional {
    width: 200px;

    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  div.content {
    width: 100%;
  }

  .weather-div {
    max-width: 100%;
  }

  .weather-additional {
    border: 1px solid black;
    width: 130px;

    font-size: 0.8rem;
  }
}
